*.bin
*.o
*.so

#EPICS compiled stuff
base/base-3.14.12.8/bin
base/base-3.14.12.8/configure/O.linux-x86_64
base/base-3.14.12.8/db
base/base-3.14.12.8/dbd
base/base-3.14.12.8/html
base/base-3.14.12.8/include
base/base-3.14.12.8/lib
base/base-3.14.12.8/src
base/base-3.14.12.8/templates

softIOC/bin
softIOC/lib
O.linux-x86_64
O.linux-x86
O.Common
softIOC/iocBoot/iocdgsSoftIOC/envPaths

edm/extensions/dgs1/bin
edm/extensions/dgs1/lib

edm/logs
receiver/tcp_receiver
*.*~
